
/*

* {
    box-sizing: content-box;
}

*/

body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    background: #95c100;
    background-color: #fff;
    background: url('0aa79026173274e2b2de9a0e5bed6946dcf029e20e0b213c850c5ac8554607a2.jpg') no-repeat fixed;
    color: #222;
}

#page {
    max-width: 800px;
    min-height: 1600px;
    padding: 3% 4%;
    margin: auto;
    background-color: rgba(255,255,255,0.9);
}


#menu {
    padding:0px;
    margin:0px;
    margin-bottom: 5%;
}


#menu li {
    margin: 0px 20px 20px 15px;
    float: left;
    cursor: pointer;
}


#pageNumber {
    width:100%;
    clear: both;
    cursor: pointer;
    text-align: center;
    word-spacing:20px;
}


#leftSide {
    float:left;
    width:46%;
    padding-right:4%;
}

#rightSide {
    float: left;
    width: 46%;
    padding-left: 4%;
}


h1, h2, i, p {
    padding: 0px;
    margin: 20px 0px;
    clear: both;
}

p {
    line-height:22px;
}



@media only screen and (max-width:600px) {

    #page {
        min-height: 2800px;
    }


    #leftSide {
        
        width: 92%;
        padding:4%;
    }


    #rightSide {
        
        width: 92%;
        
    }
} 